<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Offene Bestellungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list inset="true">
    <ion-list-header>
      <ion-label><h2>Bestellungen</h2>
       
      </ion-label>
     <ion-item> <ion-icon  name="refresh" slot="end"  (click)="reloadPage()"></ion-icon></ion-item>
    </ion-list-header>
   
    <ion-item  *ngFor="let item of formattedItems" [routerLink]="'/details/' + item.id">
      <!-- <ion-label class="item-content-green"> -->
          <ion-icon class="green" name="clock"  slot="end" *ngIf="item.tooLate == 1"></ion-icon>
          <ion-icon class="yellow" name="warning" slot="end" *ngIf="item.tooLate == 2"></ion-icon>
          <ion-icon class="red" name="alert" slot="end"  *ngIf="item.tooLate == 3"></ion-icon>
      <ion-label  class="item-content-green" >
        <br>
        <h4 *ngIf="!item.toGo">{{item.time}}, {{item.user}}</h4>
        <h4 *ngIf="item.toGo">{{item.time}}, {{item.user}}, ToGo</h4>
        
        <br>
      </ion-label>

  
    </ion-item>

    
  </ion-list>
</ion-content>